body {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 90px;
}
.image {
    height: 30px;
    margin-top: 60px; 
}
.nav a{
    border-bottom: 1px solid rgb(48, 48, 136);
    width: 30%;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(73,80,165); 
    background-color: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border: none; 
    border-bottom: 1px solid rgba(168, 165, 165, 0.2);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 1px solid rgb(48, 48, 136);
}
p {
    margin-bottom: 40px;
    color: rgb(138, 136, 136);
}
#forms > input[class=form-control] {
    display: block;
    border-radius: 0;
    padding: 20px;
    padding-left: 0px;
    border:none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    text-align: left;
    transition: all 0.4s ease-in;
}
#forms > input[class=form-control]:focus {
    box-shadow: none;
    border-bottom: 1px solid blue;
}
#dropdown {
    text-align: left;
}
#dropdown > .item {
    padding: 20px;
    padding-left: 0;
    border:none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    transition: all 0.4s ease-in;
}
#dropdown > .item:focus {
    outline-width: 0;
    border-bottom: 1px solid blue;
}
#dropdown > select.item {
    padding: 19px;
    padding-left: 0; 
}
button {
    padding: 20px;
    margin-top: 25px;
    background: rgb(165,173,241);
    border-radius: 40px;
    font-size: 12px;
    transition: all 0.2s ease-in;
    display: block;
    box-shadow: none;
}
button > div {
    display: inline-block;
}
button > div.arrow {
    margin-left: 15px;
    transition-delay: 40ms;
    transition: all 0.3s ease-in;
}
button:hover {
    background: rgba(59,89,152, 0.7);
}
button:hover > div.arrow {
    transform: translateX(6px);
}
.forgot {
    font-size: 12px;
    float: right;
    opacity: .5;
}
.forgot:hover, .alternate:hover {
    text-decoration: none;
    color: gray;
    opacity: .7;
    transition: all .2s ease-in;
}
.alternate {
    display: block;
    margin: 15px 0 0 15px;
    opacity: .5;
}
.social {
    margin-top: 115px;
}
.facebook > div.arrow, .google > div.arrow {
    float: right;
    margin-right: 40px; 
}
.facebook > div, .google > div {
    display: inline-block;
    padding: 15px 0 15px 30px;
    color: white;
    font-size: 16px;
}
.facebook {
    margin-bottom: 30px;
    background-color: rgb(59,89,152);
    border-radius: 50px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    max-width: 260px;
}
.google {
    background-color: rgb(221,75,57);
    border-radius: 50px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    max-width: 260px;
}
.facebook:hover, .google:hover {
    box-shadow: 0 15px 5px -7px rgba(0, 0, 0, .11);
    transform: scale(1.1); 
}